
@keyframes slideInFromLeft {
    0% {
      transform: translateX(-10%);
    }
    100% {
      transform: translateX(0);
    }
  }
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

.postContainer{
    margin-top: 50px;
    animation: 0.4s ease-out 0s 1 slideInFromLeft, fadeIn 1s;
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    
    height: auto;
    
    .lugar{
        width:100%;
    }
    .title{
        border-bottom: 10px;
        font-size: 3rem;
        margin-bottom: 20px;
    }
    .creadoFecha{
        color:rgb(116, 116, 116)
    }
    .postBody{
        justify-content: flex-start;
        align-items: flex-start;
        text-align: justify;
        margin-top: 20px;
        margin-bottom: 30px;

    }
    .conclusion{
        text-align: justify;
    }
    .pieDePost{
        width:100%;
        display: flex;
        
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        
        .creadoPor{
            width: 50%;
            margin-top: 30px;
            margin-bottom: 20px;
            
        }
        
        .linkAtras{
            width:50%;
            justify-content: flex-end;
            text-align: end;
            align-items: center;
            animation: 1s ease-out 0s 1 slideInFromLeft, fadeIn 3s;
            text-decoration: none;
            color: inherit;
            font-style: italic;
        }
    }
}