.blogpost{
    margin: 10px;
    background-color: rgb(252, 252, 252);
    
    padding: 2vw;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    height: auto;
    display: flex;
    flex-direction: row;
    width: 63vw;

    box-shadow: 5px 5px 12px -3px rgba(0,0,0,0.48);
    -webkit-box-shadow: 5px 5px 12px -3px rgba(0,0,0,0.48);
    -moz-box-shadow: 5px 5px 12px -3px rgba(0,0,0,0.48);

    .blogpostBody{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        height: auto;

        width: 60%;
    }

}

@media only screen and (min-width:320px) and (max-width: 480px){
  .blogpost{
    width: 80vw;
    padding:4vw;
    margin: 5px;
    border-radius: 10px;
    flex-direction: column;

    .blogpostImg[style]{
      height:100px;
      width:100px;
    }
    .blogpostBody{
      display: flex;
      flex-direction: row;
      width:100%;
      font-size: 1em;
      text-align: left;
      /* background-color: rgb(227, 227, 227) */
      border-radius: 6px;
      padding: 0vw;
      justify-content: space-between;
      .titulo{
        /* height:auto; */
        font-size: 1.2em;
      }
      .autor{
        display: none;
        font-size: 0.8em;
      }
    }
    .descripcion{
      padding: 2vh 0 0;
    }
  }
}

@media  screen and (min-width:481px) and (max-width: 768px) {
  .blogpost{
    width: 80vw;
    padding:3vw;
    flex-direction: column;
    
    .blogpostBody{
      display: flex;
      flex-direction: row;
      width:100%;
      font-size: 0.9em;
      .titulo{
        /* height:auto; */
        font-size: 1.4em;
      }

      .blogpostImg{
        height:100px;
        width:100px;
        margin: 0;
      }
    }
    .descripcion{
      padding: 2vh 0 0;
    }
  }
  
}

@media  screen and (min-width:769px) and (max-width: 1024px) {

  /* .a{
    width:90%;
  } */
  .blogpost{
    width: 80vw;
    padding:3vw;
    .blogpostBody{
      width:60%;

    }
  }
}