
.headerContainer{

  height: 10vh;
  width: 95%;
  border-bottom: 1px solid lightgray;
  align-items: center;

  display: flex;
  justify-content: space-between;

  > .title {
    margin: 0;
    width: 30%;
    font-size: 1.6em;
    font-weight: 500;
    text-align: left;
    padding-left: 10px;
    vertical-align: middle;
    line-height: 10vh;
  }

  > .navbarComponent {
    margin: 0;
    display: flex;
    justify-content: flex-end;
    width: 40%;
    
    > .customLink {
      padding: 2vh 0 2vh 2vh;
      line-height: 6vh;
      text-align: center;
      border-radius: 12px;
      margin: 0;
      
      > a {
        text-decoration: none;
        
        border-radius: 8px;
        padding: 20px;
        color: rgb(26, 26, 26);
        
        transition: 0.6s;
      }

      > a:hover{
        background-color: rgb(29, 29, 29);
        color: rgb(235, 235, 235);
      }
    }
  }
}

@media only screen and (max-width:426px){
  .headerContainer{
    height:12vh;
    
    >.title{
      font-size: 1em;
      font-weight: 500;
    }
    > .navbarComponent {

      > .customLink {
        padding: 0vh 0 0vh 0vh;
        line-height: 6vh;
        text-align: center;
        border-radius: 12px;
        margin: 0;

        > a {
          
          border-radius: 8px;
          padding: 15px;
          color: rgb(26, 26, 26);
          
          transition: 0.6s;
        }
      }
  }
}
}