
.headerContainer{

  height: 10vh;
  width: 95%;
  border-bottom: 1px solid lightgray;
  align-items: center;

  display: flex;
  justify-content: space-between;

  > .title {
    margin: 0;
    width: 30%;
    font-size: 1.6em;
    font-weight: 500;
    text-align: left;
    padding-left: 10px;
    vertical-align: middle;
    line-height: 10vh;
  }

  > .navbarComponent {
    margin: 0;
    display: flex;
    justify-content: flex-end;
    width: 40%;
    
    > .customLink {
      padding: 2vh 0 2vh 2vh;
      line-height: 6vh;
      text-align: center;
      border-radius: 12px;
      margin: 0;
      
      > a {
        text-decoration: none;
        
        border-radius: 8px;
        padding: 20px;
        color: rgb(26, 26, 26);
        
        transition: 0.6s;
      }

      > a:hover{
        background-color: rgb(29, 29, 29);
        color: rgb(235, 235, 235);
      }
    }
  }
}

@media only screen and (min-width:320px) and (max-width: 480px){
  .headerContainer{
    height:9vh;
    width: 85%;
    
    >.title{
      font-size: 1.3em;
      font-weight: 500;
      width: auto;
    }

    > .hamburguerMenu{
      margin: 2vw;
    }
  }
}

/* iPads, Tablets */
@media  screen and (min-width:481px) and (max-width: 768px) {
  
  .headerContainer{
    height:9vh;
    width: 85%;
    
    >.title{
      font-size: 1.3em;
      font-weight: 500;
      width: auto;
    }

    > .hamburguerMenu{
      margin: 2vw;
    }
  }
}

/* Small screens, laptops */
@media  screen and (min-width:769px) and (max-width: 1024px) {
  
  
}

/* Desktops, large screens */
@media  screen and (min-width:1025px) and (max-width: 1200px) {
  
  
}

/* Extra large screens, TV */
@media  screen and (min-width:1201px) {
  
  
}
