
.mainComponent{

  height: 100vh;
  width: 100vw;
  overflow: auto;
}

.appContainer{

  height: auto;
  width: 70%;
  margin-bottom: 4vh;
}

.bodyContainer{

  margin-top: 4vh;
  height: auto;
  width: 100%;
}

::-webkit-scrollbar {
  width: 0;  /* Remove scrollbar space */
  background: transparent;  /* Optional: just make scrollbar invisible */
}

/* Mobile devices */
@media  screen and (min-width:320px) and (max-width: 480px) {
  
  .appContainer{ 
    
    width: 100%;
    height: auto;
  }
  .bodyContainer{
    margin-top: 2vh;
    height: auto;
  }

}

/* iPads, Tablets */
@media  screen and (min-width:481px) and (max-width: 768px) {
  
  .appContainer{ 
    
    width: 100%;
    height: auto;
  }
  .bodyContainer{
    margin-top: 2vh;
    height: auto;
  }
}

/* Small screens, laptops */
@media  screen and (min-width:769px) and (max-width: 1024px) {
  
  .appContainer{ 
    
    width: 100%;
    height: auto;
  }
  .bodyContainer{
    margin-top: 2vh;
    height: auto;
  }
}

/* Desktops, large screens */
@media  screen and (min-width:1025px) and (max-width: 1200px) {
  
  .appContainer{ 
    
    width: 100%;
    height: auto;
  }
  .bodyContainer{
    margin-top: 2vh;
    height: auto;
  }
}

/* Extra large screens, TV */
@media  screen and (min-width:1201px) {
  
  .appContainer{ 
    
    width: 100%;
    height: auto;
  }
  .bodyContainer{
    
    width: 70%;
    margin-top: 2vh;
    height: auto;
  }
}

/* responsive breakpoints 
Mobile devices – 320px — 480px.
iPads, Tablets – 481px — 768px.
Small screens, laptops – 769px — 1024px.
Desktops, large screens – 1025px — 1200px.
Extra large screens, TV – 1201px, and more.
*/