
.indexContainer{
    margin:2vw;
    height:75vh;

    padding:1vw;
    display: flex;
    flex-direction: column;

    > .carrouselContainer{
        height: 65%;
        width: 80%;
    }

    > .textoIntroductorio{
        width: 80%;
        height: 35%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

        > h2, p {
            width: 100%;
            text-align: left;
        }
    }
}