
.indexContainer{
    margin:2vw;
    height:75vh;

    padding:1vw;
    display: flex;
    flex-direction: column;

    > .carrouselContainer{
        height: 50%;
        width: 100%;
        border: 1px solid;
    }
}